.home {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.home-container {
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}






